{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Arrivals</title>
    {% endblock %}
</head>
{% block body_block %}
<body>

    <!--section deals starts-->
<section class="deal">
    <div class="content">
        <h3>deal of the day</h3>
        <h1>upto 50% off</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque necessitatibus aliquam placeat esse vero, quisquam cum quidem tempora suscipit laborum adipisci debitis ipsam enim labore hic. Voluptatibus a esse repellendus.</p>
        <a href="#" class="btn">shop now</a>
    </div>
    <div class="image">
        <img  src="" alt="">
    </div>
</section>
    <!--arrivals section start here-->
<section class="arrivals" id="arrivals">
    <h1 class="heading"><span>new arrivals</span></h1>
    <div class="swiper arrivals-slider">
        <div class="swiper-wrapper">
            <a href="#" class="swiper-slide box">
                <div class="image">
                    <img src="{% static 'images/featured2.jpg' %}" alt="img1">
                </div>
                <div class="content">
                    <h3>new arrivals</h3>
                    <div class="price">$15.90 <span>$20.99</span></div>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </div>
                </div>
            </a>


            

            <a href="#" class="swiper-slide box">
                <div class="image">
                    <img src="{% static 'images/featured4.jpg' %}" alt="img1">
                </div>
                <div class="content">
                    <h3>new arrivals</h3>
                    <div class="price">$15.90 <span>$20.99</span></div>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </div>
                </div>
            </a>

            <a href="#" class="swiper-slide box">
                <div class="image">
                    <img src="{% static 'images/featured5.jpg' %}" alt="">
                </div>
                <div class="content">
                    <h3>new arrivals</h3>
                    <div class="price">$15.90 <span>$20.99</span></div>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="swiper arrivals-slider">
        <div class="swiper-wrapper">


            <a href="#" class="swiper-slide box">
                <div class="image">
                    <img src="{% static 'images/featured6.jpg' %}" alt="">
                </div>
                <div class="content">
                    <h3>new arrivals</h3>
                    <div class="price">$15.90 <span>$20.99</span></div>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </div>
                </div>
            </a>


            <a href="#" class="swiper-slide box">
                <div class="image">
                    <img src="{% static 'images/featured2.jpg' %}" alt="">
                </div>
                <div class="content">
                    <h3>new arrivals</h3>
                    <div class="price">$15.90 <span>$20.99</span></div>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </div>
                </div>
            </a>


        

            <a href="#" class="swiper-slide box">
                <div class="image">
                    <img src="{% static 'images/featured1.webp' %}" alt="">
                </div>
                <div class="content">
                    <h3>new arrivals</h3>
                    <div class="price">$15.90 <span>$20.99</span></div>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </div>
                </div>
            </a>

            
        </div>
    </div>
</section>
<!--arrivals section ends here-->



<section class="arrivals" id="arrivals">
    
    <div class="swiper arrivals-slider">
        <div class="swiper-wrapper">
            <a href="#" class="swiper-slide box">
                <div class="image">
                    <img src="{% static 'images/featured4.jpg' %}" alt="img1">
                </div>
                <div class="content">
                    <h3>new arrivals</h3>
                    <div class="price">$15.90 <span>$20.99</span></div>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </div>
                </div>
            </a>


            

            <a href="#" class="swiper-slide box">
                <div class="image">
                    <img src="{% static 'images/featured1.webp' %}" alt="img1">
                </div>
                <div class="content">
                    <h3>new arrivals</h3>
                    <div class="price">$15.90 <span>$20.99</span></div>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </div>
                </div>
            </a>

            <a href="#" class="swiper-slide box">
                <div class="image">
                    <img src="{% static 'images/featured3.jpg' %}" alt="">
                </div>
                <div class="content">
                    <h3>new arrivals</h3>
                    <div class="price">$15.90 <span>$20.99</span></div>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="swiper arrivals-slider">
        <div class="swiper-wrapper">


            <a href="#" class="swiper-slide box">
                <div class="image">
                    <img src="{% static 'images/featured6.jpg' %}" alt="">
                </div>
                <div class="content">
                    <h3>new arrivals</h3>
                    <div class="price">$15.90 <span>$20.99</span></div>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </div>
                </div>
            </a>


            <a href="#" class="swiper-slide box">
                <div class="image">
                    <img src="{% static 'images/featured7.jpg' %}" alt="">
                </div>
                <div class="content">
                    <h3>new arrivals</h3>
                    <div class="price">$15.90 <span>$20.99</span></div>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </div>
                </div>
            </a>


        

            <a href="#" class="swiper-slide box">
                <div class="image">
                    <img src="{% static 'images/featured1.webp' %}" alt="">
                </div>
                <div class="content">
                    <h3>new arrivals</h3>
                    <div class="price">$15.90 <span>$20.99</span></div>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </div>
                </div>
            </a>

            
        </div>
    </div>
</section>
<!--arrivals section ends here-->


{% endblock %}
</body>
</html>