{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>reviews</title>
    {% endblock %}
</head>
{% block body_block %}
<body>
    <!--review section starts here-->
<section class="reviews" id="reviews">
    <h1 class="heading"><span>client's reviews</span></h1>
    <div class="swiper reviews-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide box">
                <img src="{% static 'images/for1.jpg' %}" alt="image1">
                <h3>jhon deo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eos sed modi? Quis aliquam alias saepe dolor architecto inventore omnis voluptatibus, quisquam ad aliquid voluptates odio facere, accusantium consectetur expedita.</p>
                <div class="stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>

                </div>
            </div>

            <div class="swiper-slide box">
                <img src="{% static 'images/for2.jpg' %}" alt="image1">
                <h3>jhon deo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eos sed modi? Quis aliquam alias saepe dolor architecto inventore omnis voluptatibus, quisquam ad aliquid voluptates odio facere, accusantium consectetur expedita.</p>
                <div class="stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>

                </div>
            </div>

            <div class="swiper-slide box">
                <img src="{% static 'images/for3.jpg' %}" alt="image3">
                <h3>jhon deo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eos sed modi? Quis aliquam alias saepe dolor architecto inventore omnis voluptatibus, quisquam ad aliquid voluptates odio facere, accusantium consectetur expedita.</p>
                <div class="stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>

                </div>
            </div>

            <div class="swiper-slide box">
                <img src="{% static 'images/for4.jpg' %}" alt="image4">
                <h3>jhon deo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eos sed modi? Quis aliquam alias saepe dolor architecto inventore omnis voluptatibus, quisquam ad aliquid voluptates odio facere, accusantium consectetur expedita.</p>
                <div class="stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>

                </div>
            </div>

            <div class="swiper-slide box">
                <img src="{% static 'images/for1.jpg' %}" alt="image5">
                <h3>jhon deo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eos sed modi? Quis aliquam alias saepe dolor architecto inventore omnis voluptatibus, quisquam ad aliquid voluptates odio facere, accusantium consectetur expedita.</p>
                <div class="stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>

                </div>
            </div>

            <div class="swiper-slide box">
                <img src="{% static 'images/for2.jpg' %}" alt="image6">
                <h3>jhon deo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eos sed modi? Quis aliquam alias saepe dolor architecto inventore omnis voluptatibus, quisquam ad aliquid voluptates odio facere, accusantium consectetur expedita.</p>
                <div class="stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>

                </div>
            </div>
        </div>
    </div>
</section>


<section class="reviews" id="reviews">
    
    <div class="swiper reviews-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide box">
                <img src="{% static 'images/for2.jpg' %}" alt="image1">
                <h3>jhon deo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eos sed modi? Quis aliquam alias saepe dolor architecto inventore omnis voluptatibus, quisquam ad aliquid voluptates odio facere, accusantium consectetur expedita.</p>
                <div class="stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>

                </div>
            </div>

            <div class="swiper-slide box">
                <img src="{% static 'images/for4.jpg' %}" alt="image1">
                <h3>jhon deo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eos sed modi? Quis aliquam alias saepe dolor architecto inventore omnis voluptatibus, quisquam ad aliquid voluptates odio facere, accusantium consectetur expedita.</p>
                <div class="stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>

                </div>
            </div>

            <div class="swiper-slide box">
                <img src="{% static 'images/for3.jpg' %}" alt="image3">
                <h3>jhon deo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eos sed modi? Quis aliquam alias saepe dolor architecto inventore omnis voluptatibus, quisquam ad aliquid voluptates odio facere, accusantium consectetur expedita.</p>
                <div class="stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>

                </div>
            </div>

            <div class="swiper-slide box">
                <img src="{% static 'images/for4.jpg' %}" alt="image4">
                <h3>jhon deo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eos sed modi? Quis aliquam alias saepe dolor architecto inventore omnis voluptatibus, quisquam ad aliquid voluptates odio facere, accusantium consectetur expedita.</p>
                <div class="stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>

                </div>
            </div>

            <div class="swiper-slide box">
                <img src="{% static 'images/for1.jpg' %}" alt="image5">
                <h3>jhon deo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eos sed modi? Quis aliquam alias saepe dolor architecto inventore omnis voluptatibus, quisquam ad aliquid voluptates odio facere, accusantium consectetur expedita.</p>
                <div class="stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>

                </div>
            </div>

            <div class="swiper-slide box">
                <img src="{% static 'images/for2.jpg' %}" alt="image6">
                <h3>jhon deo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eos sed modi? Quis aliquam alias saepe dolor architecto inventore omnis voluptatibus, quisquam ad aliquid voluptates odio facere, accusantium consectetur expedita.</p>
                <div class="stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>

                </div>
            </div>
        </div>
    </div>
</section>
<!--review section ends here-->
</body>
{% endblock %}
</html>